/*	RESET: START
------------------------------*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Set core root defaults */
html {
  scroll-behavior: smooth; }

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block; }

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px); }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

body {
  --dark-blue: hsl(240, 38%, 20%);
  --grayish-blue: hsl(240, 18%, 77%);
  --dark-blue-bg: hsla(240, 18%, 77%, 20%);
  --white: hsl(0 100% 100%);
  font-size: 2rem;
  font-family: "Inter", Serif;
  max-width: 120em;
  width: 80%;
  margin-top: 3rem;
  margin-inline: auto;
  background: no-repeat url(../assets/pattern-curve.svg);
  background-color: var(--grayish-blue-bg);
  background-position: bottom left;
  background-size: 50% auto;
  text-align: center;
  color: var(--dark-blue);
  overflow-x: hidden; }
  @media (min-width: 50em) {
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0;
      text-align: initial; } }

.testimonial {
  display: flex;
  align-items: center;
  flex-direction: column; }
  @media (min-width: 50em) {
    .testimonial {
      flex-direction: row-reverse;
      justify-content: center; } }
  .testimonial__img {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: start;
    margin-bottom: 5rem;
    position: relative;
    z-index: 2;
    background: no-repeat url(../assets/pattern-bg.svg);
    background-position: center;
    background-size: 18rem auto;
    min-height: 17rem;
    width: 100%; }
    @media (min-width: 25em) {
      .testimonial__img {
        background-size: 20.5rem auto;
        min-height: 19.5rem; } }
    @media (min-width: 50em) {
      .testimonial__img {
        background-size: 24.625rem auto;
        min-height: 25.625rem;
        margin-bottom: 0; } }
    @media (min-width: 75em) {
      .testimonial__img {
        background-size: 39.625rem auto;
        min-height: 38.625rem; } }
    .testimonial__img .user {
      height: 14.5rem;
      border-radius: 0.5rem;
      box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1); }
      @media (min-width: 25em) {
        .testimonial__img .user {
          height: 15.82rem; } }
      @media (min-width: 50em) {
        .testimonial__img .user {
          height: 20.625rem; } }
      @media (min-width: 75em) {
        .testimonial__img .user {
          height: 31.625rem; } }
    .testimonial__img .slider {
      width: 5rem;
      height: 2.5rem;
      border-radius: 99em;
      background-color: var(--white);
      box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: space-around; }
      @media (min-width: 25em) {
        .testimonial__img .slider {
          bottom: 0.5rem; } }
      @media (min-width: 50em) {
        .testimonial__img .slider {
          transform: initial;
          left: 20%;
          bottom: 1.5rem; } }
      @media (min-width: 60em) {
        .testimonial__img .slider {
          left: 25%;
          bottom: 2rem; } }
      @media (min-width: 75em) {
        .testimonial__img .slider {
          width: 6.6875rem;
          height: 3.375rem;
          left: 30%; } }
  .testimonial__text {
    margin-bottom: 1.5625rem;
    max-width: 28ch;
    margin-inline: auto;
    position: relative; }
    .testimonial__text img {
      position: absolute;
      left: 50%;
      top: -2rem;
      transform: translateX(-50%);
      height: 4rem; }
      @media (min-width: 50em) {
        .testimonial__text img {
          left: 5rem; } }
    @media (min-width: 50em) {
      .testimonial__text {
        max-width: 60ch; } }
  @media (min-width: 50em) {
    .testimonial__content {
      margin-right: 0;
      z-index: 2; } }
  @media (min-width: 50em) {
    .testimonial__content {
      margin-right: -10rem;
      z-index: 2; } }
  .testimonial__attribution {
    font-size: 1.5rem; }
    .testimonial__attribution .name {
      font-weight: bold; }
    .testimonial__attribution .position {
      opacity: 0.5; }
    @media (min-width: 50em) {
      .testimonial__attribution {
        display: flex;
        column-gap: 0.75rem; } }
