:root {
  --dark-blue: hsl(240, 38%, 20%);
  --grayish-blue: hsl(240, 18%, 77%);
  --dark-blue-bg: hsla(240, 18%, 77%, 20%);
  --white-opacity: hsla(0 100% 100%, 0.5);
}

body {
  max-width: 1400px;
  width: 80%;
  margin: 15% auto;
  background-color: var(--dark-blue-bg);

  font-size: 2rem;
  font-family: "Inter", sans-serif;
}

img {
  max-width: 100%;
}

/*
 * Typography
 */

main {
  color: var(--dark-blue);
  position: relative;
}

.name {
  font-weight: bold;
}

.position {
  opacity: 0.5;
}

main::after {
  content: "";
  width: 610px;
  height: 154px;
  position: absolute;
  bottom: 0;
  z-index: -1;

  /*background: no-repeat url(../images/pattern-curve.svg);*/
}

/*
 * components
 */


/*
 * Image Card
 */

.image-card {
  position: relative;
  object-fit: cover;
}

.image-card__pattern-curve {
  position: absolute;
  bottom: -10%;
  right: -2%;
  z-index: -1;
}

.image-card__person {
  margin: 0 auto;
  display: block;
  box-shadow: 0 0 1px 1px var(--white-opacity);

  width: 300px;
  height: 300px;
  object-fit: cover;
}

.image-card__slider {
  display: flex;
  justify-content: space-between;

  width: 5rem;
  background-color: white;
  border-radius: 99rem;
  padding: 1rem;

  position: absolute;
  bottom: -7%;
  left: 50%;
  transform: translateX(-50%) scale(0.8);
}

/*
 * Description
*/

.description {
  font-size: 1.2rem;
  text-align: center;
}

.description__text {
  margin: 3rem 0;
  line-height: 1.6;

  position: relative;
}

.description__text::before {
  content: "";

  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%);

  background: no-repeat url(../images/pattern-quotes.svg);
  width: 120px;
  height: 100px;
}

.description__footer p {
  margin: 0;
}

 @media (min-width: 400px) {
  main {
    display: flex;
    flex-direction: row-reverse;
  }

  .top-section, .bottom-section {
    width: 45%;
  }

  .image-card__person {
    width: 330px;
    height: 330px;
    object-fit: cover;
  }

  .image-card__pattern-curve {
    position: absolute;
    bottom: -36px;
    right: -8px;
  }

  .image-card__slider {
    position: absolute;
    bottom: -7%;
    left: 25%;
    transform: translateX(-50%) scale(0.8);
  }

}
