:root {
  --dark-blue: hsl(240, 38%, 20%);
  --grayish-blue: hsl(240, 18%, 77%);
  --dark-blue-bg: hsla(240, 18%, 77%, 20%);
  --white-opacity: hsla(0 100% 100%, 0.5);
  --shadow: 0 3px 24px -10px hsl(0deg 0% 0% / 50%);
}

body {
  max-width: 1400px;
  width: 80%;
  margin: 15% auto;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
  font-family: "Inter", sans-serif;

  max-height: calc(100vh - 60vh);
  background-image: url(../images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

/*
 * Typography
 */

.slide {
  color: var(--dark-blue);
  position: relative;
}

.name {
  font-weight: bold;
}

.position {
  opacity: 0.5;
}

/*
 * Layout
 */

.bottom-section {
  margin-top: 5rem;
}

/*
 * components
 */

/*
 * Image Card
 *
 */
.image-card {
  position: relative;
}

.image-card__pattern-curve {
  position: absolute;
  bottom: -192px;
  right: -195px;
  transform: scale(0.5);
  z-index: -1;
}

.image-card__person {
  margin: 0 auto;
  display: block;
  border-radius: 1rem;
  box-shadow: var(--shadow);

  height: 265px;
}

.image-card__slider {
  display: flex;
  justify-content: space-between;

  width: 5rem;
  background-color: white;
  border-radius: 99rem;
  padding: 1.2rem;

  position: absolute;
  bottom: -1.6rem;
  left: 50%;
  transform: translateX(-50%) scale(0.8);
  box-shadow: var(--shadow);
  cursor: pointer;
}

/*
 * Description
*/
.description {
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
}

.description__text {
  line-height: 1.6;
  position: relative;
}

.description__text::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-50%) scale(0.5);

  background: no-repeat url(../images/pattern-quotes.svg);
  width: 120px;
  height: 100px;
}

.description__footer p {
  margin: 0;
}

main > div:first-child {
  display: none;
}

@media (min-width: 400px) {
  .slide {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  s .top-section,
  .bottom-section {
    width: 45%;
    margin: 0;
  }

  .image-card__person {
    width: 540px;
    height: 540px;
  }

  .description {
    margin-right: -8rem;
    text-align: initial;
  }

  .description__text {
    font-size: 2rem;
  }

  .description__text::before {
    content: "";
    position: absolute;
    left: 10%;
    top: -50px;
    transform: scale(1);

    background: no-repeat url(../images/pattern-quotes.svg);
    width: 120px;
    height: 100px;
  }

  .description__footer {
    display: flex;
    column-gap: 1rem;
  }

  .image-card__pattern-curve {
    position: absolute;
    bottom: -57px;
    right: -73px;
    transform: scale(1);
  }

  .image-card__slider {
    position: absolute;
    bottom: -1.7rem;
    left: 7rem;
    transform: scale(0.8);
  }
}
